/* About our company */
/* Global Styles */

body {
    font-family: "Jost", sans-serif;
}

header {
    height: 100px;
}


a {
    text-decoration: none;
    transition: .3s ease-in-out;
}

.sub_title_section {
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    text-transform: uppercase;
}

.title_section {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #3f3a64;
}

/* Header Styles */

.fixed-top {
    transition: 0.3s ease-in-out;
}

.nav-fixed {
    padding: 0px;
    background-color: #fff;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.header_container {
    padding: 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.dropdown-item.active {
    color: #fff;
    background: none;
}

.navbar-nav .nav-link {
    color: #fff;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}

.nav-fixed .navbar-nav .nav-link {
    color: #3f3a64;
}

.navbar-nav .nav-link.active {
    color: #fff;
}

.nav-fixed .navbar-nav .nav-link.active {
    color: #009f4d;
}

.header_logo h2 {
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    text-transform: capitalize;
    transition: 0.3s ease-in-out;
    
}

.nav-fixed .header_logo h2 {
    color:#3f3a64;
}

.header_logo span {
    font-size: 15px;
    display: block;
    padding-left: 46px;
}

.header_logo i {
    color: #009f4d;
    font-size: 30px;
}

.header_navigation a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;

    transition: all 0.5s;

    
    /* color: rgba(63, 58, 100, 0.7); */
}

.header_search button, .header_theme button {
    background: none;
    outline: none;
    border: none;
}

.header_search button {
    line-height: 45px;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    box-sizing: border-box;
    background: #009f4d;
    outline: 0;
    transform-origin: 50%;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    color: white;
}

.header_theme button {
    line-height: 45px;
    text-align: center; 
    width: 45px;
    height: 45px;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.nav-fixed .header_theme button {
    color: #3f3a64;
}
/* Hero Styles */

.hero-section {
    background-image: linear-gradient(rgb(29 42 55 / 70%), rgb(29 42 55 / 70%)), url("../../public/img/b1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-title {
    color: #ffffff;
}


.hero-title h2 {
    margin-top: 50px;
    font-size: 50px;
}

.hero-title p {
    font-size: 20px;
}

/* SECTION */
.about-section {
    font-family: Arial, sans-serif;
}

/* IMAGE WRAPPER */
.img-wrapper {
    position: relative;
    width: 500px;
}

/* MAIN IMAGE */
.main-img {
    width: 100%;
    object-fit: cover;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 2;
}

/* GREEN SHAPE BEHIND */
.bg-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #bfe8cf;
    border-radius: 25% 70% 84% 22% / 42% 75% 25% 75%;
    top: 0;
    z-index: 1;
}

/* BADGE */
.badge-box {
    position: absolute;
    bottom: -25px;
    right: -25px;

    width: 200px;
    height: 200px;
    background: #00a651;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: rotate(45deg);
    z-index: 3;
}


.badge-info {
    transform: rotate(-45deg);
}

.badge-info h2 {
    font-size: 40px;
    font-weight: 600;
}

.badge-info p {
    font-size: 24px;
}



/* TEXT */
.sub-title {
    letter-spacing: 2px;
    color: gray;
    font-size: 14px;
}

.title {
    font-weight: 700;
    color: #2c2c5a;
    margin: 15px 0;
}

.lead-text {
    font-size: 18px;
    font-weight: 600;
}

.desc {
    color: gray;
    line-height: 1.7;
}

/* ACTION */
.action-box {
    gap: 20px;
    margin-top: 25px;
}

.action-box a:first-child{
    padding: 15px 50px;
}

/* PLAY BUTTON */
.play-btn {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #00a651;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #00a651;
    cursor: pointer;
}

/* FEATURE CARDS */
.feature-card {
    background: #f8f9fa;
    padding: 25px;
    border-radius: 15px;

    display: flex;
    gap: 15px;
    height: 100%;
}

.feature-card i {
    font-size: 38px;
    color: #009f4d;
}

.feature-card h4 {
    font-weight: 700;
    color: #3f3a64;
    transition: 0.3s all;
}

.feature-card p {
    margin: 0;
    color: gray;
}

.feature-card:hover h4 {
    color: #009f4d;
}


/* Web design and digital marketing */
/* TEXT LEFT */
.sub-title {
    font-size: 13px;
    letter-spacing: 2px;
    color: #777;
}

.main-title {
    font-size: 34px;
    font-weight: 700;
    color: #2c2c5a;
    margin-top: 10px;
}

/* NUMBER */
.number {
    font-size: 42px;
    font-weight: 700;
}

/* DESCRIPTION */
.desc {
    color: #777;
}

/* IMAGE HOVER */
.img-hover {
    transition: 0.3s ease;
}

.img-hover:hover {
    transform: scale(1.05);
}

/* VIDEO */
.video-section {
    position: relative;
    background-image: url("../../public/img/bg1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video-overlay {
    position: absolute;
    inset: 0;
    background: rgba(34, 44, 58, .60);
}

.video-section .container {
    position: relative;
    z-index: 2;
}

.video-title {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.3;
}

.video-text {
    margin-top: 35px;
    color: #eeeeee;
    font-size: 17px;
    line-height: 1.8;
}

/* PLAY BUTTON */
.video-btn {
    margin-top: 20px;
    width: 80px;
    height: 80px;
    border: 4px solid #fff;
    border-radius: 50%;
    background: transparent;
    color: #fff;
    font-size: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .4s;
    position: relative;
}

.video-btn i {
    margin-left: 6px;
}

.video-btn:hover {
    background: #fff;
    color: #0d6efd;
    transform: scale(1.08);
}

.video-btn::before {
    content: "";
    position: absolute;
    inset: -2px;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: ripple 2s infinite;
}

.video-btn::after {
    content: "";
    position: absolute;
    inset: -2px;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: ripple 2s infinite .8s;
}

@keyframes ripple {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.8);
        opacity: 0;
    }
}

/*  MODAL */

.modal-content {
    background: transparent;
}

.btn-close {
    opacity: 1;
}

iframe {
    border-radius: 10px;
}

@media(max-width:992px) {
    .video-title {
        font-size: 44px;
    }

    .video-text {
        font-size: 18px;
    }
}

@media(max-width:768px) {
    .video-section {
        min-height: 550px;
    }
    .video-title {
        font-size: 32px;
    }
    .video-text {
        font-size: 16px;
    }
    .video-btn {
        width: 85px;
        height: 85px;
        font-size: 30px;
    }
}




























/* Our Professionals */
.team {
    padding: 100px 0;
    background: #fff;
}

.team-subtitle {
    color: #7a7a7a;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.team-title {
    color: #2c2c63;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 50px;
}

/* Card */
.team-item {
    text-align: center;
}

/* Image */
.team-img {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

.team-img img {
    width: 100%;
    transition: .5s;
    display: block;
}

.team-item:hover img {
    transform: scale(1.08);
}

/* Overlay */
.team-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 166, 63, .65);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    opacity: 0;
    transition: .4s;
}

.team-item:hover .team-overlay {
    opacity: 1;
}

.team-overlay a {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #fff;
    color: #00a63f;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    transition: .3s;
}

.team-overlay a:hover {
    background: #2c2c63;
    color: #fff;
}

/* Text */
.team-item h4 {
    margin-top: 25px;
    color: #2c2c63;
    font-size: 32px;
    font-weight: 700;
}

.team-item p {
    color: #777;
    font-size: 22px;
    margin-top: 10px;
}

/* Responsive */
@media(max-width:991px) {
    .team-title {
        font-size: 42px;
    }
    .team-item {
        margin-bottom: 30px;
    }
}


/* Why choose us */
.choose {
    padding: 100px 0;
    background: #fff;
}

.choose-subtitle {
    color: #7d7d7d;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.choose-title {
    max-width: 850px;
    margin: 0 auto 70px;
    font-size: 54px;
    font-weight: 700;
    color: #2c2c63;
    line-height: 1.3;
}

/* Item */
.choose-item {
    align-items: flex-start;
}

/* Icon */
.choose-icon {
    width: 120px;
    height: 120px;
    border: 1px solid;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.choose-icon i {
    font-size: 46px;
}

/* Color */
.icon-green {
    border-color: #00a63f;
    color: #00a63f;
}

.icon-blue {
    border-color: #2c2c63;
    color: #2c2c63;
}

.icon-red {
    border-color: #ff4d4f;
    color: #ff4d4f;
}

.icon-orange {
    border-color: #ff8c1a;
    color: #ff8c1a;
}

/* Text */
.choose-item h3 {
    font-size: 30px;
    color: #2c2c63;
    font-weight: 700;
    margin-bottom: 20px;
}

.choose-item p {
    font-size: 20px;
    color: #7a7a7a;
    line-height: 1.8;
}

/* Hover */
.choose-item:hover .choose-icon {
    background: #00a63f;
    color: #fff;
    transition: .4s;
}

.choose-item:hover .icon-blue {
    background: #2c2c63;
}

.choose-item:hover .icon-red {
    background: #ff4d4f;
}

.choose-item:hover .icon-orange {
    background: #ff8c1a;
}

/* Responsive */
@media (max-width:991px) {
    .choose-title {
        font-size: 42px;
    }
    .choose-item {
        margin-bottom: 30px;
    }
    .choose-icon {
        width: 90px;
        height: 90px;
    }
    .choose-icon i {
        font-size: 34px;
    }
}


/* Let's talk about your */
.cta {
    padding: 100px 0;
    background: #fff;
}

/* Left */
.cta-title {
    color: #2d2f67;
    font-size: 58px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 30px;
}

.cta-desc {
    color: #7d7d7d;
    font-size: 22px;
    line-height: 1.8;
    max-width: 700px;
    margin: 0;
}

/* BUTTON */
.cta-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background: #00a63f;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 22px 42px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    transition: all .35s ease;
    box-shadow: 0 0 0 6px rgba(0, 166, 63, .18);
}

/* Arrow */
.cta-btn i {
    font-size: 24px;
    transition: transform .35s ease;
}

/* Hover */
.cta-btn:hover {
    background: #00913a;
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 166, 63, .35);
}

/* Arrow Animation */
.cta-btn:hover i {
    transform: translateX(8px);

}

/* Active */
.cta-btn:active {
    transform: translateY(-2px);

}


@media(max-width:992px) {

    .cta {
        padding: 80px 0;

    }

    .cta-title {
        font-size: 42px;

    }

    .cta-desc {
        font-size: 18px;

    }

    .cta-btn {
        width: 100%;
        padding: 18px 30px;
        font-size: 20px;
    }

}

/* Footer */
.footer {
    background: #07071c;
    color: #8b8d9a;
    align-items: center;
    padding-top: 80px;
}

.footer__content {
    width: 92%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    gap: 50px;
}

.footer__item h3 {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 35px;
}

.footer__item ul {
    list-style: none;
    padding: 0;
}

.footer__item ul li {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 1.8;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo i {
    color: #00c16e;
    font-size: 30px;
}

.logo h2 {
    color: white;
    font-size: 30px;
}

.logo p {
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
}

.desc {
    margin: 20px 0 30px;
    font-size: 18px;
    line-height: 1.8;
}

.social {
    display: flex;
    gap: 18px;
}

.social i {
    font-size: 15px;
    cursor: pointer;
}

.social i:hover {
    color: #ffffff;
}

.copyright {
    margin-top: 80px;
    padding: 35px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    text-align: center;
    font-size: 18px;
}

.copyright span {
    color: #00c16e;
}

/* back to top */
.back-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: #00a63f;
    color: white;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    z-index: 999;
    display: none;
    /* Ẩn lúc mới tải trang */
}

.back-top:hover {
    transform: translateY(-5px);
}
