/* Global Styles */

body {
    font-family: "Jost", sans-serif;
}

header {
    height: 100px;
}

a {
    text-decoration: none;
    transition: .3s ease-in-out;
}

.sub_title_section {
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    text-transform: uppercase;
}

.title_section {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #3f3a64;
}

/* Header Styles */

.fixed-top {
    transition: 0.3s ease-in-out;
}

.nav-fixed {
    padding: 0px;
    background-color: #fff;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.header_container {
    padding: 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.dropdown-item.active {
    color: #fff;
    background: none;
}

.navbar-nav .nav-link {
    color: #fff;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}

.nav-fixed .navbar-nav .nav-link {
    color: #3f3a64;
}

.navbar-nav .nav-link.active {
    color: #fff;
}

.nav-fixed .navbar-nav .nav-link.active {
    color: #009f4d;
}

.header_logo h2 {
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    text-transform: capitalize;
    transition: 0.3s ease-in-out;
    
}

.nav-fixed .header_logo h2 {
    color:#3f3a64;
}

.header_logo span {
    font-size: 15px;
    display: block;
    padding-left: 46px;
}

.header_logo i {
    color: #009f4d;
    font-size: 30px;
}

.header_navigation a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;

    transition: all 0.5s;

    
    /* color: rgba(63, 58, 100, 0.7); */
}

.header_search button, .header_theme button {
    background: none;
    outline: none;
    border: none;
}

.header_search button {
    line-height: 45px;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    box-sizing: border-box;
    background: #009f4d;
    outline: 0;
    transform-origin: 50%;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    color: white;
}

.header_theme button {
    line-height: 45px;
    text-align: center; 
    width: 45px;
    height: 45px;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.nav-fixed .header_theme button {
    color: #3f3a64;
}

/* Banner Styles */

.banner_section {
    height: 90vh;
    background-image: linear-gradient(rgba(29,42,55,0.7),rgba(29,42,55,0.7)), url('../..//public/img/b1.jpg');
    background-size: cover;
}

.banner_item {
    color: #ffffff;
}

.banner_item h1 {
    line-height: 1.1;
    margin-bottom: 10px;
    font-size: 65px;
    max-width: 800px;
    font-weight: 600px;
}
 
.banner_item p {
    font-size: 20px;
    line-height: 30px;
    max-width: 600px;
}

.btn-primary {
    color: #ffffff;
    background-color: #00a63f;
    border-color: #00a63f;
}

.btn-primary:hover {
    background-color: #008030;
    border-color: #00732c;
}

.btn-cta {
    padding: 15px 50px;
    margin-top:30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
}

.shape svg {
    fill: #fff;
}

/* About Styles */

.about_left p {
    font-size: 17px;
    line-height: 27px;
    color: #666666;
    opacity: .8;
}

.about_left a {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #3f3a64;

    text-decoration: none;
}

.about_left i {
    color: #009f4d;
}

/* Feature Styles */

.feature_section {
    background-color: #f7f7f7;
}

.feature_left button {
    padding: 15px 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
}

.feature_left p {
    font-size: 17px;
    line-height: 27px;
    color: #666666;
    opacity: .8;
}

.feature_content {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.grid_item {
    padding: 40px 30px;
    border-radius: 8px;
    text-align: center;
    
    box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
    background-color: #ffffff;
    transition: .3s ease;
}

.grid_item a {
    display: block;
    margin-top: 25px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    color: #3f3a64;

    text-decoration: none;
}

.grid_item:hover {
    transform: translateY(-0.25rem);
    box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px, rgba(71, 63, 79, 0.16) 0px 5px 10px;
}

/* Service Styles */
.service_info a {
    background-color: #ffffff;
    color: #3f3a64;
    padding: 12px 35px;
    font-size: 19px;
    line-height: 28px;
    font-weight: 600;
    display: inline-block;
    transform: translateY(-25px);
    border: 1px solid transparent;
    border-radius: 8px;
}

.service_card:hover .service_info a {
    color: #009f4d;
}

.service_card > a {
    padding: 8px 35px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    transition: 0.3s ease-in;
    color: #3f3a64;;
    border-radius: 8px;
}

.service_card > a:hover {
    color: #009f4d;
}

.service_info p {
    margin-top: -10px;
}

/* Gallery Styles */

.gallery_item a {
    overflow: hidden;
    position: relative;
    display: block;
}

.gallery_item a img {
    transition: .3s ease-in-out;
}

.gallery_item:hover img {
    transform: scale(1.1);
    overflow: hidden;
}

.gallery_item a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(29 42 55 / 70%);
    opacity: 0;                                
    transition: opacity 0.3s ease-in-out; 
}

.gallery_item:hover a::after {
    opacity: 1;
}

.gallery_overlay {
    color: white;
    padding: 46px 50px;
    left: 0;
    bottom: -100%;
    opacity: 0;
    z-index: 2;
    visibility: hidden;

    transition: all 0.3s;
}

.gallery_item:hover .gallery_overlay {
    bottom: 0;
    visibility: visible;
    opacity: 1;
}

/* Progress Styles */
.progress_bar .progress, .progress_bar .progress-bar {
    overflow: visible;
}

.progress_gradient_market::before, .progress_gradient_market::after,
.progress_gradient_webdesign::before, .progress_gradient_webdesign::after,
.progress_gradient_analytics::before, .progress_gradient_analytics::after,
.progress_gradient_webdev::before, .progress_gradient_webdev::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: translate(50%, -50%);
    right: 0;
    top: 50%;
}

.progress_gradient_market::before,
.progress_gradient_analytics::before,
.progress_gradient_webdesign::before,
.progress_gradient_webdev::before {
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: .3;
}

.progress_gradient_market::after,
.progress_gradient_analytics::after,
.progress_gradient_webdesign::after,
.progress_gradient_webdev::after {
    height: 13px;
    width: 13px;
    border: 3px solid;
    background-color: #ffffff;
}

.progress_percent_label {
    position: absolute;
    right: 0;
    bottom: 12px;
    transform: translateX(50%);
    font-size: 18px;
    color: #333;
}

.progress_gradient_market {
    color: #61fded;
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

.progress_gradient_webdesign {
    color: #eece90;
    background-color: #d45529;
    background-image: linear-gradient(-224deg, #d45529, #eece90);
}

.progress_gradient_analytics {
    color: #5c51ff;
    background-color: #f646a9;
    background-image: linear-gradient(-224deg, #f646a9, #5c51ff);}

.progress_gradient_webdev {
    color: #e5529a;
    background-color: #e77654;
    background-image: linear-gradient(-224deg, #e77654, #e5529a);
}

.progress_bar_item {
    margin-bottom: 30px;
}

.progress_bar_item .progress {
    height: 4px;
}

.progress_bar_item h3 {
    font-size: 18px;
    font-weight: 400;
}

.progress_bar_item .progress-bar-striped {
    background-size: cover;
}

/* Testimonial Styles */
.testimonial_section {
    background-color: #f7f7f7;
}

.testimonial_card {
    padding: 40px 30px;
    max-width: 900px;
}

.testimonial_card p {
    font-size: 18px;
    line-height: 28px;
    color: #666666;
    opacity: .8;
}

.testimonial_description {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    text-align: left;
    gap: 20px;
}

.testimonial_image {
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
}

.testimonial_image img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

.testimonial_meta {
    align-self: center;
}

.testimonial_meta h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.testimonial_meta p {
    opacity: 0.8;
    margin-bottom: 0;
}

.owl-theme .owl-dots .owl-dot span {
    background: #213364;
    opacity: 0.5;
    transition: .3s all;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #213364;
    opacity: 1;
    transform: scale(1.5);
}

/* Blog Styles */

.blog_card {
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.04);
    border: 1px solid #ffffff;
}

.blog_thumbnail img{
    transition: .3s all;
}

.blog_card:hover .blog_thumbnail img {
    transform: scale(1.1);
}

.blog_description {
    padding: 1.25rem;
}

.blog_description p {
    color: #999999;
}

.blog_description h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: #3f3a64;
    margin: 10px 0 0 0;
}

.blog_footer {
    padding: 0.75rem 1.25rem;
    grid-template-columns: auto 1fr auto;
    border-top: 1px solid #eeeeee;
}

.blog_footer p {
    color: #666666;
}

.blog_footer a {
    font-weight: 600;
    color: #3f3a64;
}

/* Subscription Styles */
.subscription_section {
    background-image: url("../../public/img/map.png");
    background-color: #151421;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    color: #fff;
}

.subscription_container {
    max-width: 700px;
}

.subscription_form {
    position: relative;
    display: grid;
    grid-template-columns: 50px 1fr auto;
    max-width: 550px;
    margin: auto;
}

.subscription_icon {
    color: #999;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 0 15px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 0.25rem 0 0 0.25rem;
}

.subscription_form input[type="email"] {
    color: #999;
    background: rgba(0, 0, 0, 0.2);
    padding: 14px 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.subscription_form button {
    padding: 0 25px;
}

