/* Global Styles */

body {
    font-family: "Jost", sans-serif;
}

header {
    height: 100px;
}

a {
    text-decoration: none;
    transition: .5s all;
}

.sub_title_section {
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    text-transform: uppercase;
}

.title_section {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #3f3a64;
}

/* Header Styles */

.header_container {
    background: #ffffff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.dropdown-item.active {
    color: #009f4d;
    background: none;

}

.navbar-nav .nav-link.active {
    color: #009f4d;
}

.header_logo h2 {
    /* color: rgb(63, 58, 100); */
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    text-transform: capitalize;
    
}

.header_logo span {
    font-size: 15px;
    display: block;
    padding-left: 46px;
}

.header_logo i {
    color: #009f4d;
    font-size: 30px;
}

.header_navigation a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;

    transition: all 0.5s;

    
    /* color: rgba(63, 58, 100, 0.7); */
}

.header_search button, .header_theme button {
    background: none;
    outline: none;
    border: none;
}

.header_search button {
    line-height: 45px;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    box-sizing: border-box;
    background: #009f4d;
    outline: 0;
    transform-origin: 50%;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    color: white;
}

.header_theme button {
    line-height: 45px;
    text-align: center; 
    width: 45px;
    height: 45px;
}

/* Banner Styles */

.banner_section {
    height: 90vh;
    background-image: linear-gradient(rgba(29,42,55,0.7),rgba(29,42,55,0.7)), url('/public/img/b1.jpg');
    background-size: cover;
}

.banner_item {
    color: #ffffff;
}

.banner_item h1 {
    line-height: 1.1;
    margin-bottom: 10px;
    font-size: 65px;
    max-width: 800px;
    font-weight: 600px;
}
 
.banner_item p {
    font-size: 20px;
    line-height: 30px;
    max-width: 600px;
}

.btn-primary {
    color: #ffffff;
    background-color: #00a63f;
    border-color: #00a63f;
}

.btn-primary:hover {
    background-color: #008030;
    border-color: #00732c;
}

.btn-cta {
    padding: 15px 50px;
    margin-top:30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
}

.shape svg {
    fill: #fff;
}

/* About Styles */

.about_left p {
    font-size: 17px;
    line-height: 27px;
    color: #666666;
    opacity: .8;
}

.about_left a {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #3f3a64;

    text-decoration: none;
}

.about_left i {
    color: #009f4d;
}

/* Feature Styles */

.feature_section {
    background-color: #f7f7f7;
}

.feature_left button {
    padding: 15px 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
}

.feature_left p {
    font-size: 17px;
    line-height: 27px;
    color: #666666;
    opacity: .8;
}

.feature_content {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.grid_item {
    padding: 40px 30px;
    border-radius: 8px;
    text-align: center;
    
    box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
    background-color: #ffffff;
    transition: .3s ease;
}

.grid_item a {
    display: block;
    margin-top: 25px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    color: #3f3a64;

    text-decoration: none;
}

.grid_item:hover {
    transform: translateY(-0.25rem);
    box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px, rgba(71, 63, 79, 0.16) 0px 5px 10px;
}

/* Service Styles */
.service_info a {
    background-color: #ffffff;
    color: #3f3a64;
    padding: 12px 35px;
    font-size: 19px;
    line-height: 28px;
    font-weight: 600;
    display: inline-block;
    transform: translateY(-25px);
    border: 1px solid transparent;
    border-radius: 8px;
}

.service_card:hover .service_info a {
    color: #009f4d;
}

.service_card > a {
    padding: 8px 35px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    transition: 0.3s ease-in;
    color: #3f3a64;;
    border-radius: 8px;
}

.service_card > a:hover {
    color: #009f4d;
}

.service_info p {
    margin-top: -10px;
}

/* Gallery Styles */

.gallery_overlay {
    color: white;
    padding: 46px 50px;
    left: 0;
    bottom: -100%;
    opacity: 0;
}

/* Testimonial Styles */
.testimonial_section {
    background-color: #f7f7f7;
}

